.imagen-con-hover {
    content: "";
    width: 400px;

    float: left;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 20px;


}

.cabecera
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
}

.imagen-con-hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: inherit;
    transition: 0.3s ease-in-out;

}

.imagen-con-hover .imagen-con-hover {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.imagen-con-hover:hover img {
    filter: grayscale(1) brightness(0.4);
}

.imagen-con-hover:hover img {
    transform: scale(1.1);
    /* Escala la imagen al 110% en hover */
}

.imagen-con-hover::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.imagen-con-hover:hover::after {
    opacity: 1;
    inset: 20px;
}

.content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    /* Color del texto del overlay */
    font-size: 20px;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    /* Color del fondo del overlay */
    opacity: 0;
    /* Hace que el overlay sea transparente inicialmente */
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-con-hover:hover .overlay {
    opacity: 1;
    /* Hace que el overlay sea visible en hover */
}

.texto {
    color: white;
    /* Color del texto del overlay */
    font-size: 20px;
    /* Tamaño del texto del overlay */
}

.titulo {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #333;
}

body {
    background-color: #f0f0f0;
    /* Color de fondo */
    color: #333;
    /* Color del texto */
    font-family: Arial, sans-serif;
}